<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Artist">
	
	<resultMap type="Artist" id="artistResultMap">
		<result property="artistId" column="ARTIST_ID"></result>
		<result property="workAddress" column="WORK_ADDRESS"></result>
		<result property="enrollDate"    column="ENROLL_DATE"></result>
		<result property="businessNo"    column="BUSINESS_NO"></result>
		<result property="enrollStatus"    column="ENROLL_STATUS"></result>
	</resultMap>

<!-- 	<select id="selectOne" resultMap="artistResultMap">
		SELECT * FROM ARTIST
		WHERE ARTIST_ID=#{artistId} AND PASSWORD=#{password}
	</select>
	 -->
<!-- 	<insert id="insertArtist">
		INSERT INTO ARTIST
	 	VALUES (#{artistId},#{password},#{name},#{age},#{gender},#{phone},#{email},#{address},#{workAddress},SYSDATE,#{license},#{businessNo},#{enrollStatus})
	</insert>
	
	<update id="updateArtist">
	 	UPDATE ARTIST
	 	SET EMAIL=#{email}, PHONE=#{phone}, ADDRESS=#{address}, UPDATE_DATE=SYSDATE
	 	WHERE ARTIST_ID=#{artistId}
	 </update>
	 
	 <update id="deleteArtist" parameterType="Artist">
	 	DELETE ARTIST
	 	WHERE ARTIST_ID=#{artistId}
	 </update>
	 
	 <select id="checkIdDup" resultType="int">
	 	SELECT COUNT(*) FROM ARTIST
	 	WHERE ARTIST_ID = #{artistId}
	 </select>
	 -->
</mapper>
