<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ArtistInfoMapper">
	<resultMap type="ArtistInfo" id="artistInfoMap">
		<result property="myProfile" column="MY_PROFILE"/>
		<result property="myReProfile" column="MY_REPROFILE"/>
		<result property="myInfo" column="MY_INFO"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="workAddress" column="WORK_ADDRESS"/>
		<result property="artistId" column="ARTIST_ID"/>
	</resultMap>

	<insert id="insertArtistInfo">
		INSERT INTO ARTISTINFO
		VALUES(#{style}, #{myProfile}, #{myReProfile}, #{myInfo}, SYSDATE, SYSDATE, #{workAddress}, #{artistId})
	</insert>
	
</mapper>
