<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
	
	<resultMap type="Notice" id="noticeResultMap">
		<result property="noticeCode"       column="NOTICE_CODE"/>
		<result property="noticeTitle"      column="NOTICE_TITLE"/>
		<result property="noticeContents"	column="NOTICE_CONTENTS"/>
		<result property="noticeWriter"		column="NOTICE_WRITER"/>
		<result property="noticeCreateDate"	column="NOTICE_CREATEDATE"/>
		<result property="noticeModifyDate"	column="NOTICE_MODIFYDATE"/>
		<result property="noticeHits"		column="NOTICE_HITS"/>
	</resultMap>

<!-- 	<insert id="insertNotce">
      INSERT INTO NOTICE
      VALUES(SEQ_NOTICE_CODE.NEXTVAL,#{noticeTitle},#{noticeContents},#{noticeWriter},SYSDATE,SYSDATE,#{noticeHits})
   </insert>
   
   <select id="selectList" resultMap="noticeResultMap">
	   	SELECT * FROM NOTICE
	   	ORDER BY N_CREATE_DATE DESC
   </select>
   
   <select id="selectOne" resultMap="noticeResultMap">
   	SELECT * FROM NOTICE
   	WHERE NID = #{nId}
   </select>
   
   <delete id="deleteNotice">
   	DELETE NOTICE
   	WHERE NID = #{nId}
   </delete>
   
   <update id="updateNotice">
   	UPDATE NOTICE
   	SET NTITLE=#{nTitle}, NCONTENT=#{nContent},
   	FILE_PATH=#{filepath}, N_MODIFY_DATE=SYSDATE
   	WHERE NID=#{nId}
   </update> -->
</mapper>
